# For loop and While loop and range

Looping Statements

→Looping Statements are Used to execute the set of statements repeatedly.

→ python Suppats 2 types of looping statements.

i. while

ii. for

1. while :- while loop executes the sat of statements or block repeatedly Until condition will become false.

# FOR LOOP

 For loop: - For loop executer the set of statements or Block with repeat- to every element of the string / Collection objects.

Syntax: for variablename in sequence:

Stormts

# Condition: 
This is a Boolean expression that is evaluated before each iteration. If it returns True, the loop continues; if False, the loop terminates.
# Code Block:
This is the block of code that will be executed as long as the condition is True. It must be indented to indicate that it belongs to the loop.

In [5]:
i = 2
while i <= 20:
    print(i)
    i = i+2

2
4
6
8
10
12
14
16
18
20

# break
Breaking Out of a Loop: You can use the break statement to exit a loop prematurely

In [1]:
count = 0
while count < 10:
    if count == 5:
        break  
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

# Continue
Skipping Iterations: The continue statement can be used to skip the current iteration and move to the next one

In [6]:
count = 0
while count < 5:
    count += 1
    if count == 3:
        continue   
    print("Count is:", count)

Count is: 1
Count is: 2
Count is: 4
Count is: 5

In [1]:
# For loop 
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(3):
    print(i)
else:
    print("Loop is done!")

0
1
2
Loop is done!
The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [7]:
for i in range(100):
    if i == 50:
        break
    
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [10]:
for i in range(25):
    
    if i == 15:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24

In [8]:


names = ["Apple", "Boll", "Cat", "Dog", "Eve"]

for name in names:
    if name[0].upper() in ['A', 'B', 'C']:
        print(name)

Apple
Boll
Cat

In [16]:
ev_data = [['vehicle', 'range', 'price'],
           ['Tesla Model 3 LR', '310', '49900'],
           ['Hyundai Ioniq EV', '124', '30315'],
           ['Chevy Bolt', '238', '36620']]

In [17]:
for row in ev_data[1:]:         # loop through each row in ev_data starting with row 2 (index 1)
    ev_range = row[1]           # each car's range is found in column 2 (index 1)
    ev_range = int(ev_range)    # convert each range number from a string to an integer
    row[1] = ev_range           # assign range, which is now an integer, back to index 1 in each row

print(ev_data)

[['vehicle', 'range', 'price'], ['Tesla Model 3 LR', 310, '49900'], ['Hyundai Ioniq EV', 124, '30315'], ['Chevy Bolt', 238, '36620']]